/php-src/node_modules
/php-src/vendor
/php-src/.styleci.yml
/php-src/.phpunit.result.cache
/php-src/.php-cs-fixer.cache
/php-src/package.json
/php-src/phpunit.xml
/php-src/README.md
/php-src/phpspec.yml
/php-src/npm-debug.log
/php-src/yarn-error.log
/.github
/.git
/.idea
/.vscode
**.env*
**.editorconfig
**.gitattributes
**.gitignore